{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@database": "./src/database",
          "@modules": "./src/modules",
          "@shared": "./src/shared",
          "@services": "./src/services"
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ],
  "ignore": [
    "**/*.spec.ts"
  ]
}
